/*esto es css de index*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;}

@font-face{font-family: "acuncum";
          src: url("https://jhonp630.000webhostapp.com/public/fonts/PAPYRUS.ttf");}        
h1{ font-family: acuncum;
        text-align: center;
        font-size: 190%;
        color:  white;
        float: left;}
h2{font-family: acuncum;
   text-align: center;
   font-size: 50px;
   color:  #FF460D;
   margin-top: 5%;}
h3{margin-top: 10%;
  text-align: center;
   font-size: 25px;}
.aqui:visited{color: white;}   

#spoiler2{display: none;} 
.menu{display: none;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFCFE;}

li {float: left;}

li a {display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;}

li a:hover {background-color: #9915DF;}

body{background-color: #ECF6CE;
     height: auto;}

.container{display: inline-block;				 
				   width: 100%;
				   height: 900PX;
           border: 0px solid #fff;
           padding: 5px;
           margin: 2px;
           margin-top: 1%;}

.colleft{
				width: 100%;
				height: 500px;
        border: 0px solid #fff;
        padding: 10px;
        padding-top: 30px;
        margin: 2px;
        background: none;}

table.sobreponer{
            position: absolute;
            left: 60px;
            top: 110px;
            z-index: 1;
            margin: 0;
            width: 40%;}
        

.back-td{background-color:#888;   
         height: 26px;
         padding: 0px;
         text-align: center;
         box-shadow: 2px 2px 2px 2px #888;}
.image5,.image2,.image3,.image4{width: 100%;
                               margin-top: 0;
                               margin-left: 0;}          


        
 /*slider*/
.slider {
  width: 100%;
  height: 430px;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 10s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

.colright {
      display: flex;
			width: 100%;
			height: 300px;
      border: 0px solid #fff;
      padding: 5px;
      padding-top: 30px;
      margin: 2px auto;
      background: none;}
.col5,.col6,.col7,.col8{
                        margin-left: 5%;
                        width: 26%;
                        height: 300px;
                        background-color: #F1C40F;
                        padding: 0;}
.imgpromo{width: 69%;
          margin-left: 50px;}
p{text-align: center;
  margin-top:  7%;}          

.obten{margin-left: 50px;
       }           
                                 

.botons{width: 100%; 
        margin-left: 0;}      


input{padding: 2px;
		  width: 50%;
		  height: 30px;
		  margin-top: 2px;}


div.third {
    background: rgba(76, 175, 80, 0.6);}


img{ height: auto;
     width: 50%;
     margin: 0 0 0 350px;
     }
figure{}
/*esto es css de Resgistro*/

fieldset{ border: 0px;}

form {
  margin-top: 5%;
  margin-left: 15%;
  max-width: 70%;  
  padding: 10px 20px;
  background-color:rgba(60, 58, 57, 0.6);
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],

select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.botonr { width: 45%; 
          margin-left: 1%;}


/*esto es css de contatco*/
.contac{max-width: 1000px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color:rgba(51, 51, 51, 0.9);
  border-radius: 8px;
  color: white;
}

.containercontac{width: 100%;
                height: auto;
                border: 0px solid #fff;
                padding: 10px;
                margin: 2px;
               }
.containercontac  p{text-align: left;
                     font-size:20px;
                     color: black;
                     margin-top: 1%}
.datos{display: flex;}                     
.radio{width: 20px;}                     
label{font-size: 18px;
      color: white;}
.selectc{width: auto;}                     
.label{ margin-left: 30px;}                     

textarea{max-width: 98%;
         max-height: 300px;}
.botonc { width: 30%; 
          margin-left: 70px;}

/*esto es css de quienes somos*/
.containerqs{            
                width: 100%;
                height: auto;
                border: 0px solid #fff;
                padding: 10px;
                margin: 2px;
               }
.contacqs{
          max-width: 100%;
          height: 600px;
          margin: 10px auto;
          padding: 10px 20px;
          background-color:rgba(51, 51, 51, 0.9);
          border-radius: 8px;}

.contacqs  p { font-size: 18px;
               color: white;}
iframe{ margin-top: 10%;
        margin-left: 25%;
        width:560px;
        height:315px; }              
/*esto es css de servcios*/

th{color: #F2FBEF;
   background-color:rgba(51, 51, 51, 0.6);}
td.servisiten{color: #151515;
    font-size: 100%;
    background-color: #ccc;
    text-align: center;

    }

table.tabservis{margin: 5px auto; 
      width: 90%;}
  

/* Esto es css de footer*/
.colleftdown {display: inline-block;
              width: 100%;
              height: 200px;
              border: 0px solid #fff;
              padding: 0;
              margin: 2px;
              background: rgba(0, 0, 0, 0.6);        
        }
.conredes{margin-left: 43%;}      
.redes {margin-left: 1%;
        max-width: 6%;
        background-color:none; } 
             

.derechos{ margin-top: 14%;
           text-align: center;
           color:white;
           font-size: 18px}



@media screen and (min-width: 475px) and (max-width: 768px){
  
  
  form {
    max-width: 815px;
  }


.colleft{width: 100%;
         height: 500px;}

.colright{ margin-top: -20%;
          background-color: #ccc;
          display:inline-block;
          height: 1350px;}

p{  margin-top:  0;}          

.obten{margin-left: 50px;
       }           

.conredes{margin-top: 10%;}
.colleftdown {margin-top: 2%
              width: 100%;
              height: 100px;}
table.sobreponer{
            
            top: 80px;
            }

.col5,.col6,.col7,.col8{
                        margin-top: 5%;
                        width: 90%;
                        height: 400px;                      
                       }
.imgpromo{width: 75%;
          margin-left: 75px;}
.obten{margin-left: 30%;
       }                                  
 iframe{
        margin-left: 0;
        width:500px;
        height:300px; } 
.containerqs{  height: 400px;}
.contacqs{height: 800px;} 



/*esto es css de Resgistro*/
form { 
  margin-left: 14%;
  max-width: 70%;  }


.colleftdown {
              margin-top: 10%;}}


@media screen and (min-width: 260px) and (max-width: 474px){

form {
    max-width: 815px;
  }


.colleft{width: 100%;
         height: 500px;}

.colright{ margin-top: -75%;
          background-color: #ccc;
          display:inline-block;
          height: 1000px;}

.conredes{margin-top: 15%;
          margin-left: 35%;}
.redes{max-width: 15%;}
.colleftdown {margin-top: -200%;
              width: 100%;
              height: 100px;}
table.sobreponer{
            
            top: 80px;
            }


.col5,.col6,.col7,.col8{
                        margin-top: 5%;
                        width: 90%;
                        height: 300px;                      
                       }
.imgpromo{width: 75%;
          margin-left: 45px;}
.obten{margin-left: 19%;}
iframe{ display: none;}
.containerqs{   height: 900px;
                margin-top:0;}          
.colleftdown {
              margin-top: 15%;}         }

         


